# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
EngineCode/.vs/Test engine/v16/Browse.VC.db
EngineCode/.vs/Test engine/v16/Browse.VC.db-shm
EngineCode/.vs/Test engine/v16/Browse.VC.db-wal
EngineCode/.vs/Test engine/v16/Browse.VC.opendb
